.footer__section{
  width: 100%;
  height: auto;
  padding: 7rem 0 2rem;
  position: relative;
}

.footer__container{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: flex-start;
}

.fc__top{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 2rem;
  border-top: 1px solid var(--grey);
}

.fct__left{
  width: 25%;
  aspect-ratio: 1;
  position: relative;
  overflow: hidden;

  img{
    object-fit: cover;
  }
}

.fct__right{
  width: 60%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.fcr__content{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.fc__span{
  font-size: var(--small-font-size);
  color: var(--green);
  font-family: var(--medium-font);
}

.footer__nav{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.fcr__right{
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: flex-start;
}

