.info__container{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.is__left{
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.is__small{
  font-size: var(--small-font-size);
  text-transform: uppercase;
  font-family: var(--medium-font);
}

.is__h2{
  font-weight: 300;
  font-family: var(--medium-font);
  font-size: var(--h2-font-size);
  color: var(--green);
  line-height: 1;
}

.is__right{
  width: 45%;
  display: flex;
  align-items: flex-start;
  gap: 5rem;
}

.isr__left{
  
}

