.ls__container {
  width: max-content;
  height: auto;
  position: relative;
}

.ls__wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.selected {
  color: var(--green);
  font-family: var(--medium-font);
}

.icon {
  svg {
    color: var(--green);
    font-size: calc(var(--normal-font-size) - 0.1rem);
  }
  position: relative;
  margin-bottom: -2px;
}
