.navlink__container1 {
  width: max-content;
  height: 20px;
  overflow: hidden;
  position: relative;
  display: block;

  .link__wrapper {
    width: max-content;
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: flex-start;
  }
}

.link__text {
  color: var(--green);
  font-family: var(--medium-font);
  font-size: calc(var(--normal-font-size) + 0.1rem);
}
