.navlink__container1 {
  width: fit-content;
  height: 20px;
  overflow-y: hidden;
  overflow-x: visible;
  padding: 0 3px;
  position: relative;
  display: inline-block;

  &:hover {
    .link__wrapper {
      transform: translateY(-50%);

      .link__text{
        opacity: 0.7;
      }
    }
  }

  .link__wrapper {
    width: max-content;
    display: flex;
    flex-direction: column;
    gap: 0;
    transform: translateY(0);
    align-items: flex-start;
    transition: all 0.4s ease;

    .link__text {
      color: var(--green);
      font-family: var(--medium-font);
      font-size: var(--normal-font-size);
      transition: all 0.4s ease;
    }
  }
}

.navlink__container2 {
  width: fit-content;
  height: 42.4px;
  overflow-y: hidden;
  overflow-x: visible;
  padding: 0 3px;
  position: relative;
  display: inline-block;

  &:hover {
    .link__wrapper {
      transform: translateY(-50%);

      .link__text{
        opacity: 0.7;
      }
    }
  }

  .link__wrapper {
    width: max-content;
    display: flex;
    flex-direction: column;
    gap: 0;
    transform: translateY(0);
    align-items: flex-start;
    transition: all 0.4s ease;

    .link__text {
      color: var(--green);
      font-family: var(--medium-font);
      font-size: var(--h3-font-size);
      transition: all 0.4s ease;
    }
  }
}


//Responsive Design
@media screen and (max-width: 1088px) {
  .navlink__container2 {
    height: 33.6px;
    padding: 0 3px;
  }

  .navlink__container1 {
    height: 19.2px;
  }
}