.side__section{
  width: 100vw;
  height: 100dvh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  background-color: var(--green);
  color: var(--lightergreen);
  padding-bottom: 2rem;
  display: none;
}

.side__container{
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 2rem;
}

.side__nav{
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}

.side__left{
  width: 200px;
  aspect-ratio: 928.5/126;
  position: relative;
  display: block;
}

.logo__wrapper{
  width: 100%;
  height: 100%;
  position: relative;

  img{
    object-fit: cover;
  }
}

.side__right{
  display: flex;
  align-items: center;
  gap: 2rem
}

.nav__menu{
  font-family: var(--medium-font);
  cursor: pointer;
}

.side__mid{
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.sm__top{
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.sl__link{
  font-size: calc(var(--h2-font-size) + 1rem);
  color: var(--lightergreen);
  font-family: var(--medium-font);
}

.sm__bottom{
  display: flex;
  align-items: flex-start;
  gap: 6rem
}

.sm__div{
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.sm__span{
  text-transform: uppercase;
  font-family: var(--medium-font);
  opacity: 0.6;
}

.smb__b{
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-family: var(--medium);

  a{
    color: var(--lightergreen);
  }
}

.side__bottom{
  margin-top: 6rem;
}



//Responsive Design 
@media screen and (max-width: 900px) {
  .side__section{
    display: block;
  }
}


@media screen and (max-width: 560px) {
  .side__bottom{
    margin-top: auto;
  }

  .side__section{
    padding-bottom: 1.5rem;
  }

  .sm__bottom{
    gap: 3rem
  }

  .side__left{
    width: 180px;
  }

  .side__right{
    gap: 1.5rem
  }

  .side__mid{
    gap: 4rem;
  }

  .sm__span{
    font-size: 15px;
  }
}

@media screen and (max-width: 390px) {
  .sm__bottom{
    flex-direction: column;
    gap: 1.5rem;
  }

  .side__mid{
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .sm__top{
    gap: 0.5rem;
  }
  
  .sl__link{
    font-size: calc(var(--h2-font-size) + 0.2rem);;
  }

  .side__container{
    gap: 1.5rem;
  }

  .sm__div{
    gap: 0.5rem;
  }
  
}

@media screen and (max-width: 370px) {
  .sm__top{
    gap: 0.25rem;
  }
  
  .sl__link{
    font-size: calc(var(--h2-font-size) + 0.1rem);;
  }
}

@media screen and (min-width: 350px) and (max-width: 380px) and (min-height: 500px) and (max-height: 620px) {
  .side__container{
    gap: 1rem;
  }

  .sl__link{
    font-size: calc(var(--h2-font-size) - 0.2rem);;
  }

  .sm__top{
    gap: 0.2rem;
  }

}