.team__section{
  padding: 7rem 0 6rem;
  width: 100%;
}

.team__container{
  display: flex;
  flex-direction: column;
  gap: 4.5rem;
}

.tc__top{
  display: flex;
  flex-direction: column;
  gap: 1.5rem
}

.tc__span{
  fo
}