.hi__section{
  padding: 7rem 0 6rem !important;
}

.hi__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.5rem
}

.hi__wrapper{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

//Responsive Design
@media screen and (max-width: 1024px) {
  .hi__section {
    padding: 6.5rem 0 5.5rem !important;
  }
}

@media screen and (max-width: 540px) {
  .hi__section {
    padding: 5rem 0 4.5rem !important;
  }
}

@media screen and (max-width: 560px) {
  .hi__container{
    gap: 3.5rem
  }
}

@media screen and (max-width: 1200px) {
  .hi__wrapper{
    gap: 12px;
  }
}


