.hp__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.5rem
}

.portfolio__wrapper{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

//Responsive Design
@media screen and (max-width: 1200px) {
  .portfolio__wrapper{
    gap: 12px;
  }
}

@media screen and (max-width: 1024px) {
  .portfolio__wrapper{
    column-gap: 12px;
    row-gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 650px) {
  .portfolio__wrapper{
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 560px) {
  .hp__container{
    gap: 3.5rem
  }
}




