.vision__section{
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative;
  max-width: 1550px;
}

.vision__image{
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.vi__wrapper{
  width: 100%;
  height: 125%;
  position: relative;

  img{
    object-fit: cover;
  }
}

.vision__content{
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 60%;
}

.vc__span{
  font-size: var(--small-font-size);
  text-transform: uppercase;
  color: var(--ivory);
  font-family: var(--medium-font);
}

.vc__p{
  width: 100%;
  line-height: 1.2;
  font-size: var(--h3-font-size);
  color: var(--ivory);
  text-align: center;
  font-family: var(--medium-font);
}



