.bc__container{
  width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: -1.2rem;
  color: var(--green);

  h6{
    font-size: calc(var(--normal-font-size) + 0.1rem);
    line-height: 1.2;
  }

  h5{
    font-size: calc(var(--normal-font-size) + 0.25rem);
    line-height: 1.2;
    margin-top: 1.2rem;
  }

  h4{
    font-size: calc(var(--normal-font-size) + 0.5rem);
    line-height: 1.2;
    margin-top: 1.2rem;
  }

  h3{
    font-size: calc(var(--normal-font-size) + 0.75rem);
    line-height: 1.2;
    margin-top: 1.2rem;
  }

  h2{
    font-size: calc(var(--normal-font-size) + 1rem);
    line-height: 1.2;
    margin-top: 1.2rem;
  }

  a{
    color: var(--pink);
    text-decoration: underline;
  }

  li{
    margin-left: 1rem;
  }

  span, p{
    font-family: var(--normal-font-size);
  }
}