.cf__section{
  width: 100%;
  height: 500px;
  position: relative;
  background-color: var(--lightergreen);
}

.cf__content{
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}

.cf__h2{
  font-weight: 400;
  font-size: calc(var(--h2-font-size) + 2rem);
  font-family: var(--medium-font);
  color: var(--green);
  text-align: center;
  l
}