.link__wrapper {
  position: relative;
  overflow: hidden;

  &:hover {
    .linker {
      .link__icon{
        svg{
          transform: rotate(90deg) translateY(-0.4rem);
        }
      }

      .button__text {
        &::before {
          transform: translateX(0%);
        }

        span{
          transform: translateX(-0.4rem);
        }
      }
    }
  }

  .linker {
    display: flex;
    align-items: center;

    .link__icon {
      width: 48px;
      height: 48px;
      position: relative;
      display: grid;
      place-items: center;
      background-color: var(--lightergreen);
      z-index: 2;
      border-radius: 3px;

      svg {
        font-size: calc(var(--normal-font-size) + 0.25rem);
        color: var(--green);
        transform: rotate(90deg);
        transition: all 0.4s ease;
      }
    }

    .button__text {
      padding: 0rem 0.9rem;
      height: 49px;
      width: max-content;
      display: grid;
      place-items: center;
      position: relative;

      &::before {
        content: "";
        display: block;
        position: absolute;
        left: -1px;
        right: -1px;
        top: 0;
        bottom: 0;
        background-color: var(--lightergreen);
        z-index: 0;
        transform: translateX(-100%);
        transition: all 0.4s ease;
        // border-radius: 3px;
      }

      span {
        color: var(--green);
        font-family: var(--medium-font);
        font-size: var(--normal-font-size);
        position: relative;
        transform: none;
        transition: all 0.4s ease;
        z-index: 1;
      }
    }
  }
}
