.services__section {
  width: 100%;
  padding: 7rem 0 6rem !important;
}

.services__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.5rem;
}

.ss__top {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

.ss__span {
  font-size: var(--small-font-size);
  text-transform: uppercase;
  font-family: var(--medium-font);
  width: fit-content;
}

.ss__h2 {
  font-weight: 300;
  font-family: var(--medium-font);
  font-size: var(--h2-font-size);
  color: var(--green);
  line-height: 1;
  text-align: center;
}

.ss__bottom {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.services__card {
  width: 100%;
  height: 500px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-top: 1px solid var(--grey);
  border-bottom: 1px solid var(--grey);
  gap: 0px;

  &:nth-of-type(2),
  &:nth-of-type(3) {
    border-top: none;
  }

  &:nth-child(odd) {
    .sc__left {
      order: 2;
      border-left: 1px solid var(--grey);
      padding-right: 0rem;
    }

    .sc__right {
      order: 1;
    }
  }

  &:nth-child(even) {
    .sc__left {
      padding-left: 0rem;
    }

    .sc__right {
      border-left: 1px solid var(--grey);

      .scr__content {
        margin-left: 7rem;
      }
    }
  }
}

.sc__left {
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  position: relative;
}

.sc__image {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 5px;
  overflow: hidden;

  img {
    object-fit: cover;
  }
}

.sc__right {
  width: 100%;
  height: 100%;
  position: relative;
}

.scr__content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: flex-start;
  width: 70%;
  height: max-content;
  position: relative;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.sc__h3 {
  font-size: var(--h3-font-size);
  color: var(--green);
  font-family: var(--medium-font);
  font-weight: 400;
}

.scr__bottom {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


//Responsive Design
@media screen and (max-width: 1024px) {
  .services__card {
    height: 430px;
  
    &:nth-of-type(2),
    &:nth-of-type(3) {
      border-top: none;
    }
  
    &:nth-child(even) {
      .sc__right {
        .scr__content {
          margin-left: 3rem;
        }
      }
    }
  }

  .scr__content {
    gap: 1.5rem;
    width: 80%;
  }
}

@media screen and (max-width: 800px) {
  .services__card {
    height: 400px;
  
    &:nth-of-type(2),
    &:nth-of-type(3) {
      border-top: none;
    }
  
    &:nth-child(even) {
      .sc__right {
        .scr__content {
          margin-left: 2rem;
        }
      }
    }
  }

  .scr__content {
    width: 90%;
  }
}

@media screen and (max-width: 740px) {
  .services__card {
    grid-template-columns: repeat(1, 1fr);
    height: auto;

    &:nth-of-type(2),
    &:nth-of-type(3) {
      border-top: none;
    }
  
    &:nth-child(odd) {
      .sc__left {
        order: 1;
        border-left: 1px solid var(--grey);
        border-right: 1px solid var(--grey);
        padding-right: 1rem;
      }
  
      .sc__right {
        order: 2;
      }
    }
  
    &:nth-child(even) {
      .sc__left {
        padding-left: 1rem;
        border-right: 1px solid var(--grey);
        border-left: 1px solid var(--grey);
      }
  
      .sc__right {
        border-left: 1px solid var(--grey);
  
        .scr__content {
          margin-left: 7rem;
        }
      }
    }
  }

  .sc__left{
    width: 100%;
    aspect-ratio: 16/13;
    padding: 1rem;
    border: 1px solid var(--grey);
    border-bottom: none !important;
  }

  .sc__right{
    padding: 1rem 1rem;
    border-bottom: 1px solid var(--grey);
  }
}