.button__container {
  width: max-content;
  height: 60px;
  padding: 0 1.5rem;
  background-color: var(--lightergreen);
  color: var(--green);
  display: grid;
  place-items: center;
  border-radius: 3px;
  overflow: hidden;
  position: relative;

  &::before{
    content: "";
    display: block;
    position: absolute;
    left: -1px;
    right: -1px;
    top: 0;
    bottom: 0;
    background-color: red;
    z-index: 0;
    transform: translateX(-100%);
  }

  span {
    color: var(--green);
    font-family: var(--medium-font);
    font-size: calc(var(--normal-font-size) + 0.05rem);
  }
}
