.button__container {
  width: max-content;
  height: 60px;
  padding: 0 1.5rem;
  background-color: var(--lightergreen);
  color: var(--green);
  display: grid;
  place-items: center;
  border-radius: 3px;
  overflow: hidden;

  &::before{
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    p
  }

  span {
    color: var(--green);
    font-family: var(--medium-font);
    font-size: calc(var(--normal-font-size) + 0.05rem);
  }
}
