.button__container {
  width: max-content;
  height: 55px;
  display: block;
  padding: 0 1.5rem;
  background-color: var(--lightergreen);
  color: var(--green);

  span {
    color: var(--green);
    font-family: var(--medium-font);
    font-size: calc(var(--normal-font-size) + 0.05rem);
  }
}
