.filter__container {
  position: relative;
  width: fit-content;
  height: auto;
  cursor: pointer;
  z-index: 2;
}

.fc__top {
  padding: 1rem 0.8rem;
  border: 1px solid var(--grey);
  background-color: white;
  border-radius: 3px;
  display: flex;
  align-items: center;
  gap: 0.7rem;
  transition: all 0.5s ease;

  &.activeFilter{
    border: 1px solid var(--green);

    .fc__span{
      color: var(--green)
    }
  }

  .fc__span {
    font-size: calc(var(--normal-font-size) + 0.1rem);
    transition: all 0.5s ease;
    color: var(--text-color);
  }
}

.fc__icon {
  svg {
    color: var(--text-color);
    font-size: calc(var(--normal-font-size) - 0.1rem);
  }

  transform: none;
  position: relative;
  margin-bottom: -4px;
  transition: all 0.4s ease;

  &.active__icon {
    transform: rotate(-180deg);
    margin-bottom: 0px;
  }
}

.fc__icon2 {
  svg {
    color: var(--text-color);
    font-size: calc(var(--normal-font-size) - 0rem);
  }

  transform: none;
  position: relative;
  margin-bottom: -8px;
}

.fc__bottom {
  width: 120px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: flex-start;
  border: 1px solid var(--grey);
  border-radius: 3px;
  position: absolute;
  overflow: hidden;
  top: calc(100% + 10px);
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
  transition: all 0.5s ease;

  &.active__modal {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
  
  background-color: white;

  &.fc__bottom2 {
    width: 170px !important;
  }
}

.fcb__select {
  width: 100%;
  padding: 0.5rem 0.7rem;
  border-bottom: 1px solid var(--grey);
  background-color: white;
  transition: all 0.4s ease;

  &:hover {
    background-color: var(--lightergreen);

    span {
      color: var(--green);
    }
  }

  span {
    color: var(--text-color);
    transition: all 0.4s ease;
  }

  &:last-child {
    border-bottom: none;
  }
}


//Responsive Design
@media screen and (max-width: 560px) {
  .fc__top {
    padding: 0.8rem 0.7rem;
    gap: 0.7rem;
  
    .fc__span {
      font-size: calc(var(--normal-font-size) + 0.1rem);
    }
  }
}

@media screen and (max-width: 490px) {
  .fc__top {
    padding: 0.6rem 0.6rem;
  
    .fc__span {
      font-size: calc(var(--normal-font-size) - 0.07rem);
    }
  }
}