.portfolio__gallery{
  padding: 7rem 0 6rem;
}

.pg__container{
  position: relative;
}

.pg__wrapper{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.pg__image{
  width: 100%;
  aspect-ratio: 900/600;
  position: relative;
  bo

  img{
    object-fit: cover;
  }
}