.ps__section{
  padding: 7rem 0 6rem !important;
  width: 100%;
  height: auto;
}

.ps__container{
  display: flex;
  flex-direction: column;
  gap: 4.5rem;
  align-items: flex-start;
}

.ps__filter{
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  width: 100%;
}

.filter__h2{
  font-family: var(--medium-font);
  font-size: var(--h2-font-size);
  font-weight: 400;
  color: var(--green);
}

.filter__container{
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.category__wrapper{
  padding: 1rem 1rem;
  border: 1px solid var(--grey);
  background-color: white;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.5s ease;

  &.active__category{
    background-color: var(--green);
    border: none;

    span{
      color: var(--lightergreen);
    }
  }

  span{
    color: var(--text-color);
    transition: all 0.5s ease;
    user-select: none;
    white-space: nowrap;
  }
}

.ps__content{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.ps__content2{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 16px;
  row-gap: 2rem;
}

.fc__wrapper{
  width: 100%;
  height: auto;
  overflow: scroll;
}


//Responsive Design
@media screen and (max-width: 1200px) {
  .ps__content2{
    column-gap: 12px;
  }
}

@media screen and (max-width: 1024px) {
  .ps__section {
    padding: 6.5rem 0 5.5rem !important;
  }

  .ps__content2{
    column-gap: 12px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 540px) {
  .ps__section {
    padding: 5rem 0 4.5rem !important;
  }
}

@media screen and (max-width: 650px) {
  .ps__content2{
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 560px) {
  .ps__container{
    gap: 3.5rem
  }

  .category__wrapper{
    padding: 0.7rem 0.7rem;
  }

  .filter__container{
    gap: 1rem;
  }
}

@media screen and (max-width: 490px) {
  .category__wrapper{
    padding: 0.55rem 0.55rem;

    span{
font-size: calc(var());
    }
  }

  .filter__container{
    gap: 0.8rem;
  }
}