.ph__section {
  padding: calc(100px + 7rem) 0 3rem;
  width: 100%;
}

.ph__container {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  align-items: flex-start;
}

.ph__header {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  width: 100%;
}

.reference {
  text-transform: uppercase;
  color: var(--green);
  background-color: var(--lightergreen);
  padding: 0.4rem 0.7rem;
  border-radius: 5px;
  font-family: var(--medium-font);
  width: max-content;
  font-size: calc(var(--normal-font-size) + 0.2rem);
}

.ph__name {
  width: 90%;
  font-size: var(--biggest-font-size);
  color: var(--green);
  line-height: 1;
  font-weight: 400;
  font-family: var(--medium-font);
}

.ph__image {
  width: 100%;
  aspect-ratio: 16/10;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.phi__wrapper {
  width: 100%;
  height: 120%;
  position: relative;

  img {
    object-fit: cover;
  }
}

//Responsibe Design
@media screen and (max-width: 710px) {
  .reference {
    padding: 0.3rem 0.5rem;
    border-radius: 3.5px;
    font-size: calc(var(--normal-font-size));
  }

  .ph__name {
    width: 100%;
    font-size: calc(var(--biggest-font-size) - 0.3rem);
  }

  .ph__section {
    padding: calc(100px + 5rem) 0 3rem;
    width: 100%;
    word-wrap: break-word;
  }

  .ph__image {
    aspect-ratio: 16/12;
    border-radius: 3px;
  }
}
